body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

/*Apartado para carácteristicas de un párrafo*/
.p
{
    font-size: large;
    text-align: justify;
}

.p1
{
    font-size: large;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: Gray;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
  }