body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

/*Apartado para carácteristicas de un párrafo*/
.p
{
    font-size: large;
    text-align: justify;
}

.p1
{
    font-size: large;
    text-align: center;
}

